.about_container {
  height: calc(100vh - 70px);
}

.about_subcontainer {
  padding-bottom: 50px;
}

.about_text_hi {
  font-weight: 700;
  font-size: 25px;
}

.about_text_name {
  font-weight: 700;
  font-size: 35px;
}

.about_text_info {
  font-weight: 700;
  font-size: 35px;
  color: #4070f4;
}

.about_img {
  max-width: 500px;
}

@media screen and (max-width: 991px) {
  .about_text_hi {
    font-size: 20px;
    text-align: center;
  }
  .about_text_name {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  .about_text_info {
    font-size: 30px;
    text-align: center;
  }
}
