.experience_container {
  margin-bottom: 100px;
}

.experience_items_container {
  position: relative;
}

.experience_timeline_light {
  border-left: 3px solid #f3f3f3;
  transition: 0.2s;
}

.experience_timeline_dark {
  border-left: 3px solid #262f47;
  transition: 0.2s;
}

.experience_title {
  color: #4071f4;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.experience_subtitle {
  font-size: 14px;
  line-height: 1.75;
}

.experience_date {
  font-size: 14px;
  color: #939393;
}

.experience_date_span {
  font-size: 14px;
  color: #8ba9ff;
  font-weight: 700;
}

.experience_text {
  font-size: 14px;
  line-height: 2;
}

.experience_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.experience_list .experience_text {
  position: relative;
  line-height: 1.7;
}

.experience_list .experience_text:not(:last-child) {
  margin-bottom: 10px;
}

.experience_icon {
  position: absolute;
  left: -7.25px;
  color: #4071f4;
  border-radius: 50%;
  transition: 0s;
}

.experience_icon_present {
  position: absolute;
  left: -7.25px;
  color: #8ba9ff;
  border-radius: 50%;
  transition: 0s;
}

@media screen and (min-width: 991px) {
  .experience_list .experience_text {
    padding-left: 18px;
  }

  .experience_list .experience_text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #4071f4;
  }
}

@media screen and (max-width: 991px) {
  .experience_container {
    margin-bottom: 70px;
  }
}
