.projects_container {
  margin-bottom: 52px;
}

.projects_card_title {
  color: #4071f4;
  font-size: 20px;
  font-weight: 700;
}

.projects_card_text {
  font-size: 14px;
  text-wrap: pretty;
}

.projects_card_video_container {
  transition: box-shadow 0.2s;
}

.projects_card_video_container:hover {
box-shadow: -1px -2px 11px 2px rgba(64,112,244,0.5);
-webkit-box-shadow: -1px -2px 11px 2px rgba(64,112,244,0.5);
-moz-box-shadow: -1px -2px 11px 2px rgba(64,112,244,0.5);
}

.projects_card_video {
  width: 100%;
  box-shadow: 2px 3px 10px 0px rgba(62, 62, 62, 0.2);
}

.projects_tag_name {
  font-size: 12px;
  font-weight: 600;
}

.projects_card_category {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background-color: #4071f4;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .projects_container {
    margin-bottom: 22px;
  }
}
