.projects_container {
  margin-bottom: 52px;
}

.projects_card_title {
  color: #4071f4;
  font-size: 20px;
  font-weight: 700;
}

.projects_card_text {
  font-size: 14px;
  text-wrap: pretty;
}

.projects_mobile_video_group {
  cursor: pointer;
}

.projects_mobile_card_video {
  width: 100%;
  box-shadow: 2px 3px 10px 0px rgba(62, 62, 62, 0.2);
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.projects_mobile_video_group:hover .projects_mobile_card_video {
  box-shadow: 0px 0px 20px 6px rgba(64, 112, 244, 0.48);
  -webkit-box-shadow: 0px 0px 20px 6px rgba(64, 112, 244, 0.48);
  -moz-box-shadow: 0px 0px 20px 6px rgba(64, 112, 244, 0.48);
}

.projects_web_card_video {
  width: 100%;
  box-shadow: 2px 3px 10px 0px rgba(62, 62, 62, 0.2);
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.projects_web_card_video:hover {
  box-shadow: 0px 0px 20px 6px rgba(64, 112, 244, 0.48);
  -webkit-box-shadow: 0px 0px 20px 6px rgba(64, 112, 244, 0.48);
  -moz-box-shadow: 0px 0px 20px 6px rgba(64, 112, 244, 0.48);
}

.projects_tag_name {
  font-size: 12px;
  font-weight: 900;
}

.projects_card_details {
  color: #ffffff;
  background-color: #4071f4;
  line-height: 1.5;
  border: none;
  transition: 0.2s;
}

.projects_card_details:hover {
  background-color: #2d5cba;
}

.projects_card_details_text {
  font-size: 14px;
  font-weight: 600;
  padding-top: 3px;
}

.projects_url_lock {
  cursor: default !important;
}

.projects_url_unlock {
  background-color: #8aa9ff;
  transition: 0.2s;
}

.projects_url_unlock:hover {
  background-color: rgb(94, 128, 223);
}

.project_text_fixed {
  margin: 0px !important;
  margin-top: 2px !important;
}

/* Fondo oscuro */
.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 998;
}

/* Contenedor del modal */
.custom_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  z-index: 999;
  height: 70vh;
  width: 70vw;
  max-width: 1000px;
}

.custom_modal_inner::-webkit-scrollbar {
  display: none;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: #4071f4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  transition: 0.2s;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #2d5cba;
}

.custom-prev {
  left: 15px;
}
.custom-next {
  right: 15px;
}

.swiper-pagination-bullet-active {
  background: #4071f4 !important; /* color del activo */
}

@media screen and (max-width: 991px) {
  .projects_container {
    margin-bottom: 22px;
  }

  .custom-prev,
  .custom-next {
    display: none;
  }

  .custom_modal {
  height: 100vh;
  width: 100vw;
}
}
