.about_container {
  height: calc(100vh - 70px);
}

.about_subcontainer {
  padding-bottom: 50px;
}

.about_text {
  font-weight: 700;
  font-size: 42.5px;
}

.about_span {
  color: #4070f4;
}

.about_img {
  max-width: 500px;
}

@media screen and (max-width: 991px) {
  .about_text {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about_text {
    font-size: 29px;
  }
}
