.projects_container {
  margin-bottom: 52px;
}

.projects_card_title {
  color: #4071f4;
  font-size: 20px;
  font-weight: 700;
}

.projects_card_text {
  font-size: 14px;
}

.projects_card_video {
  width: 100%;
}

.projects_tag_name {
  font-size: 12px;
  font-weight: 600;
}

.projects_card_category {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background-color: #4071f4;
  line-height: 1;
}
